@media all and (max-width: 760px) {
	.mainpage {
		padding: 0px 5% !important;
	}

	.sidebar {
		display: none;
	}

	.small-center {
		text-align: center;
	}

	.sidebar-small {
		display: block !important;
	}

	.sidebar-pic {
		width: 35px !important;
	    height: 35px !important;
	    background-size: 35px 35px !important;
	    margin-right: 50px;
	}

	.vertical-bar {
		display: none;
	}

	.skills h4 {
		margin-left: 0px !important;
	} 

	h1, h2, h3, h4{
		text-align: center;
	}

	.article-img img{
		width: 90%;
	}
}