@media all and (max-width: 768px) {
	.mainpage {
		padding: 0px !important;
	}
	.sidebar {
		display: none;
	}
	.small-center {
		text-align: center;
	}
	.sidebar-small {
		display: block !important;
	}
	.sidebar-pic {
		width: 35px !important;
	    height: 35px !important;
	    right: 90px;
	}
	.vertical-bar {
		display: none;
	}
	.skills h4 {
		margin-left: 0px !important;
	} 
	h1, h2, h3, h4{
		text-align: center;
	}
	.article-img img{
		width: 90%;
	}
	.telecom-wrapper {
		margin-top: 1%;
		text-align: center;
	}
}

@media (min-width: 991px) {
	.telecom-wrapper {
		margin-top: 1%;
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.col-lg-11 {
		width: 84.2% !important;
	    left: 7.5% !important;
	}
}
